.ui_send_area .toolbar .template {
 float:left;
 width:230px;
 padding: 0px 10px;
 vertical-align: center;
}

input[type="button"] {
 margin: 0px 2px 2px 2px;
 padding: 0px 0px;
 vertical-align: middle;
 line-height: 100%;
}

.templates{
 width:100px;
}
